@font-face {
    font-family: 'Kanit-Light';
    src: url('../fonts/Kanit-Light.eot');
    src: url('../fonts/Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kanit-Light.woff2') format('woff2'),
        url('../fonts/Kanit-Light.woff') format('woff'),
        url('../fonts/Kanit-Light.ttf') format('truetype'),
        url('../fonts/Kanit-Light.svg#Kanit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kanit-Medium';
    src: url('../fonts/Kanit-Medium.eot');
    src: url('../fonts/Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kanit-Medium.woff2') format('woff2'),
        url('../fonts/Kanit-Medium.woff') format('woff'),
        url('../fonts/Kanit-Medium.ttf') format('truetype'),
        url('../fonts/Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url('../fonts/Kanit-ExtraLight.eot');
    src: url('../fonts/Kanit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kanit-ExtraLight.woff2') format('woff2'),
        url('../fonts/Kanit-ExtraLight.woff') format('woff'),
        url('../fonts/Kanit-ExtraLight.ttf') format('truetype'),
        url('../fonts/Kanit-ExtraLight.svg#Kanit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/*---------------------------------------------------------------------------------*/
body{
	 font-family: 'Kanit-Light';
	font-size:16px;
	color:#333;
	line-height:20px;


}
.clear{
	clear:both;
}
a:link{
	text-decoration:none;
	color:#000;
}
a:hover{
	text-decoration:none;
	color:#009edf;

}
a:visited{
	text-decoration:none;
	color:#000;

}
input[type=text], input[type=email], input[type=tel]{
	width:100% ;
	height:50px;
	margin-bottom: 20px;
      border-radius: 30px;
      padding-left:15px;
      border:1px #ddd solid;

	
}

select{
	width:100%;
	
}
textarea{
	width:100%;
	margin-bottom: 20px;
      border-radius: 15px;
      padding-left:15px;
        border:1px #ddd solid;


}
.navbar{
	font-size:14px;
}
.fcc-btn {
  background-color: #01BDFD;
  color: white !important;
  padding: 5px 10px;
  text-decoration: none;
  border-radius:50px;
}
.fcc-btn02 {
  background-color: #4AE1C7;
  color: white !important;
  padding: 5px 10px;
  text-decoration: none;
  border-radius:50px;
}
.fcc-btn03 {
  background-color: #0A44E3;
  color: white !important;
  padding: 5px 10px;
  text-decoration: none;
  border-radius:50px;
}
.ConC {
  display: flex;
  justify-content: space-around;
}
.Blink{
 margin-bottom:20px;	
}
.Blink img{
	width:100%;
	height:auto;
	border-radius:35px;
}
/*---------------------------------------------------------*/
.padding-top40{
	padding-top:40px;
}
.padding-top20{
	padding-top:20px;
}

.padding-top150{
	padding-top:150px;
}

.padding-bottom30{
	padding-bottom:30px;
}
.padding-bottom60{
	padding-bottom:60px;
}

.margin-bottom30{
	margin-bottom:30px;
}
.margin-bottom35{
	margin-bottom:35px;
}

.margin-bottom50{
	margin-bottom:50px;
}
.margin-bottom80{
	margin-bottom:80px;
}

.margin-bottom20px{
	margin-bottom:20px;
}
.margin-top30{
	margin-top:30px;
}
.margin-top50{
	margin-top:50px;
}
.margin-top150{
	margin-top:150px;
}

/*-------------------------------------------------------------------*/
.title{
	 font-family: 'Kanit-Medium';
	 font-weight:bold;
	 color:#0A44E3;
}
.titleA{
	 font-family: 'Kanit-Medium';
	 font-weight:bold;
	 color:#0A44E3;
}

.topicA{
 font-family: 'Kanit-ExtraLight';
	color:#0A44E3;
	

	font-size:56px;
	
	

}
.topicB{
	font-family: 'Kanit-Medium';
	color:#0A44E3;
	font-size:20px;
	font-weight:bold;
	
	

}

@media only screen and (max-width: 767px){
.topicA{
 font-family: 'Kanit-ExtraLight';

	font-size:50px;

	
	

}
.fcc-btn02{
	display:inline-block;
	margin-top:10px;
}
}
/*-------------------------------------------------------------------------------*/
.footer{
	background-color:#0A44E3;
	padding-top:80px;
	color:#fff;	
}
.footer .title{
	 font-family: 'Kanit-Medium';
	 font-size:20px;
	 color:#fff;
	
}
.footer .copy{
	font-size:14px;
	padding-top:15px;
	padding-bottom:15px;
	border-top:1px #a6a6a6 solid;
	text-align:center;
	background-color:#fff;
	color:#0A44E3;
	font-weight:bold;
}
.footer .social{
	
}
.footer .social img{
	margin-right:10px;
}
.social img{
	margin-right:10px;
	margin-left:10px;
}

.footer a:link{
	text-decoration:none;
	color:#fff;
}
.footer a:hover{
	text-decoration:underline;
	color:#fff;

}
.footer  a:visited{
	text-decoration:none;
	color:#fff;

}
